body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #222;
    }
    
    
    h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 10px;
    }
    
    
    section {
    padding: 80px 20px;
    text-align: center;
    }
    
    
    /* Front first page */
    .hero {
    height: 100vh;
    background: url('greenlake.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    }
    
    
    .subtitle {
    font-size: 1.2rem;
    margin-bottom: 20px;
    }
    
    
    .scroll-hint {
    font-size: 0.9rem;
    opacity: 0.8;
    }
    
    
    .kathmandu {
        background: url('streets.jpg') center/cover no-repeat;
    color: white;
    }
    
    
    .kathmandu blockquote {
    margin-top: 30px;
    font-style: italic;
    opacity: 0.9;
    }
    
    
    .lakes {
        background: url('lakesmirror.jpg') center/cover no-repeat;        }
        
        
        .postcard {
        background: #fec3cd60;
        border: 2px solid #e880a6;
        padding: 20px;
        max-width: 500px;
        margin: 30px auto 0;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        }
        
        
        .reflection {
            background: url('ground.jpg');color: white;}
        
        
        footer {
        background: #ffcae3;
        color: rgb(77, 48, 13);
        text-align: center;
        padding: 20px;
        font-size: 0.9rem;
        }
